<div class="footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
        <p>
            Made with <span class="text-error">♥</span> by <a
                class="link"
                target="_blank"
                href="https://lutz-pfannenschmidt.de">Lutz Pfannenschmidt</a
            >.
        </p>
    </aside>
</div>
