---
import GithubIcon from "./icons/githubIcon.astro";
import LinkedinIcon from "./icons/linkedinIcon.astro";
import LinkIcon from "./icons/linkIcon.astro";
---

<footer class="footer footer-center p-10 bg-base-100 text-base-content">
    <div class="flex flex-col md:flex-row gap-4">
        <a href="https://lutz-pfannenschmidt.de/about" class="link link-hover"
            >About me</a
        >
        <div class="divider md:divider-horizontal"></div>
        <a href="https://www.linkedin.com/in/lutz-pfannenschmidt/"
            ><LinkedinIcon /></a
        >
        <a href="https://github.com/Lutz-Pfannenschmidt"><GithubIcon /></a>
        <a href="https://lutz-pfannenschmidt.de"><LinkIcon /></a>
        <div class="divider md:divider-horizontal"></div>
        <a href="mailto:contact@lutz-pfannenschmidt.de" class="link link-hover"
            >Contact</a
        >
    </div>
</footer>
<aside>
    <p>
        Both ResponsePlan and this website are under the MIT License, do
        whatever you want with them.
    </p>
</aside>
